<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>公司列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 公司 <span class="c-gray en">&gt;</span> 项目列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="__MODULE__/Project/index" method="get">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius del"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="__MODULE__/Project/add" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加项目</a> <button type="button" class="btn btn-primary radius send_message" onclick="send_message()"><i class="Hui-iconfont">&#xe600;</i> 发送站内信</button></span> <span class="r">共有数据：<strong>{$number}</strong> 条</span> </div>
        <div class="mt-20" id="uid">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                <tr class="text-c">
                    <th width="25">
                    </th>
                    <th width="100">公司名字</th>
                    <th width="100">标题</th>
                    <th width="100">通用项目</th>
                    <th width="100">图片</th>
                    <th width="100">项目报告</th>
                    <th width="100">现价</th>
                    <th width="100">原价</th>
                    <th width="100">创建时间</th>
                    <th width="100">修改时间</th>
                    <th width="100">数量</th>
                    <th width="100">状态</th>
                    <th width="100">编辑</th>
                </tr>
                </thead>
                <tbody>
                <!--<if condition="$result != ''">-->
                    <foreach name="result" item="row">
                        <tr class="text-c">
                            <td><input type="checkbox" value="{$row.id}" name="list_id[]"></td>
                            <td>{$row.company_name}</td>
                            <td>{$row.title}</td>
                            <td>{$row.common_item}</td>
                            <td><if condition="$row['image'] neq ''"><img src="__ROOT__/Uploads{$row.image}" alt="" width="50px" height="50px"><else/><img src="__PUBLIC__/Admin/H-ui/favicon.ico" alt="" width="50px" height="50px"></if></td>
                            <td>{$row.project_report}</td>
                            <td>{$row.current_price}</td>
                            <td>{$row.original_price}</td>
                            <td>{$row.ctime}</td>
                            <td>{$row.utime}</td>
                            <td>{$row.quantity}</td>
                            <!--<td>{$row.status}</td>-->
                            <td><if condition="$row['status'] eq '2'">已上线<else />未上线</if></td>
                            <td class="td-manage"> <a title="编辑" href="__MODULE__/Project/edit/id/{$row.id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> &nbsp;&nbsp; <a title="删除" href="javascript:;" onclick="member_del(this,{:$row['id']})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                        </tr>
                    </foreach>
                    <!--<else />-->
                    <!--<tr><td colspan="14">没有数据</td></tr>-->
                <!--</if>-->
                </tbody>
            </table>
        </div><br>

</div>
</form>
<div style="margin-left:30px">
    <button class="btn btn-success alldel">全选</button><button class="btn btn-success nodel">全不选</button><button class="btn btn-success fdel">反选</button>
</div>
<div class="btn-group" style="margin-left:800px;margin-top:-40px;>
			  <!-- <span class="btn btn-primary radius">左边按钮</span> -->
<volist name="page" id="vo">
    <a href="javascript:void(0)" onclick="page({$vo})">
        <span class="btn btn-default radius" style="margin-left:5px">{$vo}</span>
    </a>
</volist>
<!-- <span class="btn btn-primary radius">右边按钮</span> -->
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    /*项目-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除项目吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '__MODULE__/Project/del',
                data: {id:id},
                dataType: 'json',
                success: function(data){
                    console.dir(data);
                    if (data == '1') {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    } else if(data == '2') {
                        layer.msg('删除失败!',{icon:1,time:1000});
                },
                }
            error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
    //ajax分页
    function page(page){
        // alert(page);
        //Ajax
        $.get("__MODULE__/Project/index",{page:page},function(data){
            // alert(data);
            //把响应数据赋值给uid的div
            $('#uid').html(data);
        })
    }
    //全选
    $('.alldel').click(function(){
        //获取table 下的tr
        $('table').find('tr').each(function(){
            //把tr里的input选中
            $(this).find(':checkbox').prop('checked',true);
        })
    })
    //全不选
    $('.nodel').click(function(){
        //获取table 下的tr
        $('table').find('tr').each(function(){
            //把tr里的input选中
            $(this).find(':checkbox').prop('checked',false);
        })
    })
    //反选
    $('.fdel').click(function(){
        $('table').find('tr').each(function(){
            //判断
            if($(this).find(':checkbox').prop('checked')){
                $(this).find(':checkbox').prop('checked',false);
            }else{
                $(this).find(':checkbox').prop('checked',true);
            }
        })
    })
    //批量删除
    $('.del').click(function(){
        //存储选中的数据id
        a = [];
        //获取选中数据的id
        $(':checkbox').each(function(){
            //判断是否选中
            if($(this).prop('checked')){
                id = $(this).val();
                a.push(id);
                // alert(id);
            }
        })
        s = confirm('你确定删除吗？');
        if(s){
            //Ajax
            $.get("__URL__/pldel",{id:a},function(data){
                alert(data);
                //删除选中的数据的tr
                for(var i=0;i<a.length;i++){
                    //获取选中的input
                    $('input[value='+a[i]+']').parents('tr').remove();
                }
            })
        }
    })
</script>
</body>
</html>