<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="__PUBLIC__/Admin/H-ui/favicon.ico" >
<link rel="Shortcut Icon" href="__PUBLIC__/Admin/H-ui/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/H-ui/static/h-ui.admin/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/home2/js/jquery-1.10.2.min_1.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加用户 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form action="{:U(insert)}" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入用户名" id="username" name="username">
				<p></p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="请输入密码" id="mobile" name="password">
				<p></p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="请输入密码" id="mobile" name="password2">
				<p></p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="请输入邮箱" name="email" id="email">
				<p></p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<!-- <script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>  --><!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/H-ui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
 //用户名
  $('input[name="username"]').blur(function(){
    //获取用户名
    username = $(this).val();
    // $user = username.match(/^\d{4,8}$/);
    // alert($(this).next('p').html('kk'));
      // alert(username);
    pp = $(this);
    //匹配
    if(username.match(/^\w{4,8}$/)==null){
      $(this).next('p').css('color','red').html('用户名必须是4-8位字符');
    }else{
      //获取数据库信息
      // alert("{:U('doregister')}");
      //ajax
      $.get("{:U('checkajax')}",{username:username},function(data){
      	// console.dir(data);
        // alert(data);
        if(data==0){
          pp.next('p').css('color','blue').html('用户名已被注册');
        }else{
          pp.next('p').css('color','green').html('用户名可用');
        }
      })
    }
  })
   //邮箱
  $('input[name="email"]').blur(function(){
    //获取邮箱
    p = $(this).val();
    //匹配
    if(p.match(/^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/)==null){
      // alert(p);
      $(this).next('p').css('color','red').html('邮箱格式不正确');
    }else{
      pp = $(this);
      email = pp.val();
      //获取php数据
      $.get("{:U('email_checkajax')}",{email:email},function(data){
        // alert(data);
        if(data==0){
          pp.next('p').css('color','blue').html('邮箱已被注册');
        }else{
          pp.next('p').css('color','green').html('邮箱可用');
        }
      })
    }
  })
  //密码
  $('input[name="password"]').blur(function(){
    //获取密码值
    pwd = $(this).val();
    // alert(pwd);
    //匹配
    if(pwd.match(/^\w{6,16}$/)==null){
      $(this).next('p').css('color','red').html('密码必须是6-16位字符');
    }else{
      $(this).next('p').css('color','green').html('密码正确');
    }
  })
  //重复密码
  $('input[name="password2"]').blur(function(){
    //获取重复密码的值
    repwd = $(this).val();
    //获取密码值
    pwd = $('input[name="password"]').val();
    //判断密码是否一致
    if(repwd == pwd){
      $(this).next('p').css('color','green').html('密码相同');
    }else{
      $(this).next('p').css('color','red').html('密码不一致');
    }
  })
  //图形验证码 
    function verify(id){
        $('#'+id).attr('src','__MODULE__/user/verify');
    }
  
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>