<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
    <tr class="text-c">
        <th width="25">
        </th>
        <th width="50">商家ID 已弃用</th>
        <th width="100">微信标识符</th>
        <th width="100">微信昵称</th>
        <th width="100">微信头像</th>
        <th width="100">微信城市</th>
        <th width="100">wx_province</th>
        <th width="100">微信性别</th>
        <th width="110">手机号</th>
        <th width="100">登录密码</th>
        <th width="100">注册日期</th>
        <th width="100">姓名</th>
        <th width="100">有效性标识</th>
        <th width="100">删除标识</th>
        <th width="100">推荐人ID</th>
        <th width="100">微信唯一标识</th>
        <th width="100">注册来源</th>
        <th width="100">编辑</th>
    </tr>
    </thead>
    <tbody>
    <if condition="$data != ''">
        <foreach name="data" item="row">
            <tr class="text-c">
                <td><input type="checkbox" value="{$row.id}" name="list_id[]"></td>
                <td>{$row.supplier_id}</td>
                <td><p class="demo">{$row.wx_openid}</p></td>
                <td>{$row.wx_nickname}</td>
                <td><p class="demo">{$row.wx_headimg}</p></td>
                <td>{$row.wx_city}</td>
                <td>{$row.wx_province}</td>
                <td>{$row.sex}</td>
                <td>{$row.mobile}</td>
                <td><p class="demo">{$row.pwd}</p></td>
                <td>{$row.cdate}</td>
                <td>{$row.username}</td>
                <td>{$row.is_effect}</td>
                <td>{$row.is_delete}</td>
                <td>{$row.pid}</td>
                <td><p class="demo">{$row.wx_unionid}</p></td>
                <td>{$row.reg_from}</td>
                <td class="td-manage"> <a title="编辑" href="__MODULE__/user/edit/id/{$row.id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> &nbsp;&nbsp; <a title="删除" href="javascript:;" onclick="member_del(this,{:$row['id']})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
        </foreach>
        <else />
        <tr><td colspan="7">没有数据</td></tr>
    </if>
    </tbody>
</table>